<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Tobii.EyeX.Client" version="1.8.504" targetFramework="net472" />
  <package id="Tobii.Interaction" version="0.7.3" targetFramework="net472" />
  <package id="Tobii.Research.x86" version="1.7.0.1070" targetFramework="net472" />
</packages>